/Project/nbproject/private/
/DietaSmart/nbproject/private/
/Prova/nbproject/private/
/Prova/build/
DietaSmart/build.xml
DietaSmart/manifest.mf
/.Example/Java/build/
/.Example/Java/nbproject/private/
/Java/build/
/Java/nbproject/private/
/DietaSmart/build/
